.App{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 95vw;
  justify-content: center;
  height: auto;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 40px auto;
 
}
  

.header{
  text-align: center;
  width: 95vw;
  font-style: italic;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 200;
  color: #333;
  margin: 20px auto;
  margin-bottom: -10px;
  padding: 0;
}
.sub-header{
  text-align: center;
  width: 90vw;
  font-style: italic;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 200;
  color: #333;
  padding: 0;
}


.App input{
  width: 25vw;
  margin: 20px auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  border: 1px solid #333;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 200;
  color: #333;
text-align: center;
  transition: all 0.2s ease-in-out;

}

.App button{
  display: flex;
  margin: 20px auto;
  height: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 200;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

}

.App input:hover{
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
}

.App button:hover{
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
  color:rgba(200, 100, 100, 0.8);
}


.flex-container {
  display: flex;
  width: 30vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 7vh auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f5f5f5;

}
.flex-container span{
  font-weight: bold;
  color: #333;
}
.flex-container .condition{
  color: red;
  font-weight: bold;
}
.search{
  display: flex;
  flex-direction: row;
}
.flex-container:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}


.flex-container h1 {
  font-style: italic;
  font-size: 2rem;
  font-weight: 200;
  color: #333;
  margin: 20px auto;
  padding: 0;
}

.flex-container p {
  font-style: italic;
  margin: 0 auto;
  padding: 0;
  font-size: 1rem;
  color: #333;

}
.flex-forecast{
  display: flex;
  flex-direction: row;
}
.forecast-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 11vw;
  height: auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 1px;
  margin: 20px auto;
  margin-left: 2px;
}

.forecast-container:hover {
  width: 11.5vw;
  font-size: larger;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}
.forecast-container p{
  margin: 0;
  padding-top: 3px;
  font-size: 0.5rem;
  color: #333;
}
.forecast-container p:hover{
  font-size: 0.7rem;
  color:rgba(200, 100, 100, 0.8);
}

.forecast-container span{
  font-weight: bold;
  color: #333;
}
.forecast-container .condition{
  color: red;
  font-weight: bold;
}

.forecast-container img{
  width: 5vw;
  height: auto;
  margin: 0;
  padding: 0;
}




@media screen and (max-width: 600px) {
  .App{
    width: 95vw;
  }
  .App input{
    width: 50vw;
  }
  .flex-container {
    width: 72vw;
  }
  .flex-container p{
    font-size: 0.5rem;
  }
  .flex-container h1 {
    font-size: 1.5rem;
  }
 .forecast-container{
    width: 11.5vw;
  }
  .forecast-container p{
    font-size: 0.3rem;
  }

  .App input{
    width: 50vw;
  }
}
  

  
