.App{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  justify-content: center;
  height: auto;
  text-align: center;
  box-sizing: border-box;
 
}
  

.header{
  width: 84vw;
  font-style: italic;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 200;
  color: #333;
  margin: 20px auto;
  padding: 0;
}


.App input{
  width: 84vw;
  margin: 5px auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  border: 1px solid #333;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 200;
  color: #333;
text-align: center;
  transition: all 0.2s ease-in-out;

}

.App button{
  margin: 5px auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  border: 1px solid #333;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 200;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

}

.App input:hover{
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
}

.App button:hover{
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
  color:rgba(200, 100, 100, 0.8);
}


.flex-container {
  display: flex;
  width: 84vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f5f5f5;

}

.flex-container:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}


.flex-container h1 {
  font-style: italic;
  font-size: 2rem;
  font-weight: 200;
  color: #333;
  margin: 20px auto;
  padding: 0;
}

.flex-container p {
  font-style: italic;
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
  color: #333;

}
.flex-forecast{
  display: flex;
  flex-direction: row;
}
.forecast-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 2px;
}

.forecast-container:hover {
  width: 15vw;
  font-size: larger;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}
.forecast-container p{
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
  color: #333;
}
.forecast-container p:hover{
  font-size: 0.7rem;
  color:rgba(200, 100, 100, 0.8);
}

.forecast-container img{
  width: 5vw;
  height: auto;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .forecast-container p{
    font-size: 0.3rem;
  }
}
  

  
